* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.top-header {
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    font-family: Arial, sans-serif;
}

.top-header .logo a {
    font-size: 1.2em;
    text-decoration: none;
    color: #666666;
    margin-right: 50px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 20px 40px;
    transition: background-color;

}

.logo a:hover {
    background-color: #DDDDDD;
    color: #222222;
}

.diamond {
    width: 25px;
    height: 25px;
    background-color: red;
    transform: rotate(45deg);
    margin-left: 10px;
    margin-right: 20px;
}

.navigation {
    display: flex;
    gap: 50px;
}

.navigation a {
    text-decoration: none;
    color: #666666;
    font-size: 1.2em;
    padding: 20px 40px;
    transition: background-color;
}

.navigation a:hover {
    background-color: #DDDDDD;
    color: #222222;
}

.blue-strip {
    background-color: #00AAD4;
    padding-left: 30px;
    display: flex;
    align-items: center;
    color: white;
}

.blue-strip h1 {
    margin: 30px;
    font-size: 3em;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.content-layout {
    display: flex;
    min-height: 80vh
}

.sidebar {
    width: 400px;
    padding: 20px;
    background-color: #FFFFFF;
    border-right: 2px solid #D7D7D7;
}

.main-content {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}
