.top-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
}

.top-header .logo a {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    margin-right: 50px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.diamond {
    width: 25px;
    height: 25px;
    background-color: red;
    transform: rotate(45deg);
    margin-left: 10px;
    margin-right: 20px;/
}

.navigation {
    display: flex;
    gap: 50px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.navigation a:hover {
    text-decoration: underline;
}

.blue-strip {
    background-color: #00AAD4;
    padding-left: 30px;
    display: flex;
    align-items: center;
    color: white;
}

.blue-strip h1 {
    margin: 30px;
    font-size: 3em;
    font-family: Arial, sans-serif;
    font-weight: normal;
}
