{% extends "simpleLayout.html" %}

{% block title %}Login{% endblock %}

{% block page_header %}LOGIN{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block sidebar %}
    <p><a href="/register">Register</a> an account to manage a server.</p>
{% endblock %}

{% block content %}
<div class="login-form">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
