<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Placeholder{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <div class="top-header">
        <div class="logo">
        <a href="/servers">
            <div class="diamond"></div>
            AKLIZ</a>
    </div>
        <nav class="navigation">
            <a href="/servers">SERVERS</a>
            <a href="/my-account">MY ACCOUNT</a>
            <a href="/logout">LOGOUT</a>
        </nav>
    </div>

    <div class="blue-strip">
        <h1>{% block page_header %}PLACEHOLDER{% endblock %}</h1>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
